[submodule "extern/utf8.h"]
	path = extern/utf8.h
	url = https://github.com/sheredom/utf8.h.git
[submodule "extern/mongoose"]
	path = extern/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "extern/libgit2"]
	path = extern/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "extern/lua"]
	path = extern/lua
	url = https://github.com/lua/lua.git
[submodule "extern/mbedtls"]
	path = extern/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "extern/parson"]
	path = extern/parson
	url = https://github.com/kgabis/parson.git
[submodule "extern/generic-c-hashmap"]
	path = extern/generic-c-hashmap
	url = https://github.com/Kijewski/generic-c-hashmap.git
[submodule "extern/tinydir"]
	path = extern/tinydir
	url = https://github.com/cxong/tinydir.git
[submodule "extern/libtap"]
	path = extern/libtap
	url = https://github.com/zorgnax/libtap.git
[submodule "extern/libssh2"]
	path = extern/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib.git
[submodule "extern/greatest"]
	path = extern/greatest
	url = https://github.com/silentbicycle/greatest.git
[submodule "extern/ims-json"]
	path = extern/ims-json
	url = https://github.com/inmotionsoftware/ims-json.git
